<% counter = 0 %>
<% @projects.each do |project| %>
  <div class="container ms-5">
    <div class="row">
      <div class="d-flex justify-content-center margin-5 ms-5">
        <div class="col-sm-1 col-md-6 col-lg-7">
          <%counter += 1 %>
          <div class="card mt-4 dashboard-card-border collapse multi-collapse" id="multiCollapseExample<%= counter %>">
            <div class="card-body">
              <h6 class="card-title"><%= t('projects.project_label') + ' ' + counter.to_s %></h6>
              <% total_logged_time = project.total_spent_time %>
              <% estimated_time = project.total_estimated_time %>
              <% if total_logged_time.present? and estimated_time.present? %>
                <% time_progression_ratio = project.time_progression %>
                <%= render partial: "time_logs/progress", locals: { instance: project, time_progression_ratio: time_progression_ratio, total_logged_time: total_logged_time, width: "w-100", estimated_time: estimated_time} %>
              <% end %>
              <% if project.fetch_project_issues %>
                <%= line_chart [
                { name: t('shared.est_end_date'), data: project.fetch_project_issues.group(:estimated_end_date).count },
                { name: t('shared.end_date'), data: project.fetch_project_issues.group(:actual_end_date).count }
                ], xtitle: "Time", ytitle: "Issues Resolved Count" %>
              <% end %>
            </div>
          </div>
        </div>
        <% if project.fetch_sprint_issues.any? %>
          <div class="col-sm-1 col-md-3 ms-4 pe-2">
            <div class="card mt-4 dashboard-card-border collapse multi-collapse" id="multiCollapseExample<%= counter %>">
              <div class="card-body">
                <h6 class="card-title ms-2"><%= t('shared.total') + ' ' + t('issues.issues_label') %></h6>
                <div class="text-7xl orange"><%= project.fetch_sprint_issues.count %></div>
                <div class="d-flex justify-content-center">
                <div class="text-md me-1"><%= t('shared.closed') + ':'%></div>
                  <h6><%= project.fetch_sprint_issues.where(status: "CLOSED").count %></h6>
              </div>
            </div>
          </div>

          <div class="card mt-2 dashboard-card-border collapse multi-collapse" id="multiCollapseExample<%= counter %>">
            <div class="card-body">
              <h6 class="card-title ms-2"><%= t('shared.in_progress') + ' ' + t('issues.issues_label') %></h6>
              <div class="text-7xl tomato"><%= project.fetch_sprint_issues.where(status: "In Progress").count %></div>
              <div class="d-flex justify-content-center">
                <div class="text-md me-1"><%= t('issues.high') + ' ' + t('issues.priority') + ':'%></div>
                <h6><%= project.fetch_sprint_issues.where(status: "In Progress").where(priority: "High").count %></h6>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>  