<div class="tab-content" id="tab-tabContent">
  <% if can? :manage, Project %>
    <div class="tab-pane fade show active" id="multiCollapse4" role="tabpanel" aria-labelledby="multiCollapse4">
      <div class="container my-3">
        <div class="row g-2">
          <div class="col">
            <div class="card dashboard-card-border shadow-lg">
              <h6 class="card-header text-center"><%= t('shared.total') + ' ' + t('projects.project_label').pluralize %></h6>
              <div class="card-body">
                <div class="text-7xl medium-green"><%= @projects.size %></div>
              </div>
              <div class="card-footer text-center">
                <h6><%= t('shared.completed') + ': '%><%= @projects.where("end_date < ?", DateTime.now).size %></h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card dashboard-card-border shadow-lg">
              <h6 class="card-header text-center"><%= t('shared.total') + ' ' + t('sprints.label').pluralize %></h6>
              <div class="card-body">
                <div class="text-7xl royal-blue"><%= @total_sprints %></div>
              </div>
              <div class="card-footer text-center">
                <h6><%= t('shared.completed') + ': ' %><%= @closed_sprints %></h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card dashboard-card-border shadow-lg">
              <h6 class="card-header text-center"><%= t('shared.total') + ' ' + t('issues.issue_label').pluralize %></h6>
              <div class="card-body">
                <div class="text-7xl orange"><%= @total_issues %></div>
              </div>
              <div class="card-footer text-center">
                <h6><%= t('shared.closed') + ': '%><%= @closed_issues %></h6>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card dashboard-card-border shadow-lg">
              <h6 class="card-header text-center"><%= t('shared.in_progress') + ' ' + t('issues.issue_label').pluralize %></h6>
              <div class="card-body">
                <div class="text-7xl tomato"><%= @in_progress_issues %></div>
              </div>
              <div class="card-footer text-center">
                <h6><%= t('issues.high') + ' ' + t('issues.priority') + ': ' %><%= @in_progress_and_high_priority_issues %></h6>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-3">
            <div class="card dashboard-card-border shadow-lg">
              <h6 class="card-header"><%= t('projects.project_label').pluralize %></h6>
              <div class="card-body">
                <% counter = 0 %>
                <% @projects.each do |project| %>
                  <%counter += 1 %>
                  <div class="my-1">
                    <a data-bs-toggle="collapse" data-bs-target="#multiCollapseExample<%= counter %>" aria-expanded="false" aria-controls="multiCollapseExample<%= counter %>">
                      <span class="btn text-start">
                        <i class="bi bi-journal-richtext"></i>
                        <%= project.name %>
                      </span>
                    </a>
                  </div>
                <% end%>
              </div>
            </div>
          </div>
          <div class="col">
            <%= render partial: "project_collapse" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="tab-pane fade <%= (can? :manage, Project) ? '' : 'show active' %>" id="nav-assignee" role="tabpanel" aria-labelledby="nav-assignee-tab">
    <%= render partial: "issues/dashboard_issue_table", locals: { issues: @assigned_issues, chart_id: 'assignee_issues' } %>
  </div>
  <div class="tab-pane fade" id="nav-creator" role="tabpanel" aria-labelledby="nav-creator-tab"></div>
  <div class="tab-pane fade" id="nav-reviewer" role="tabpanel" aria-labelledby="nav-reviewer-tab"></div>
</div>