<div class="tab-content" id="tab-tabContent">
  <div class="tab-pane fade " id="nav-assignee" role="tabpanel" aria-labelledby="nav-assignee-tab">
    <% @issues= Issue.joins(:assignee) %>
    <% @issues= @issues.paginate(page: params[:page]) %>
    <%= render partial: "issues/dashboard_issue_table", locals: { issues: @assigned_issues, chart_id: 'assignee_issues' } %>
  </div>
  <div class="tab-pane fade" id="nav-creator" role="tabpanel" aria-labelledby="nav-creator-tab"></div>
  <div class="tab-pane fade" id="nav-reviewer" role="tabpanel" aria-labelledby="nav-reviewer-tab"></div>
  <% if can? :edit, Project, company_id: current_user.company_id %>
    <div class="tab-pane fade show active" id="multiCollapse4" role="tabpanel" aria-labelledby="multiCollapse4">
              <div class="row mt-3">
          <div class="col-3">


          <div class="card dashboard-card-border shadow-lg">
              <h6 class="card-header"><%= t('projects.project_label').pluralize %></h6>
              <div class="card-body">
                <% counter = 0 %>
                <% @projects.each do |project| %>
                  <%counter += 1 %>
                  <div class="my-1">
                    <a data-bs-toggle="collapse" data-bs-target="#multiCollapseExample<%= counter %>" aria-expanded="false" aria-controls="multiCollapseExample<%= counter %>">
                      <span class="btn text-start">
                        <i class="bi bi-journal-richtext"></i>
                        <%= project.name %>
                      </span>
                    </a>
                  </div>
                <% end%>
              </div>
            </div>
          </div>
          <div class="col">
            
        <%= render partial: "project_collapse" %>
          </div>
      <% end %>
      </div>
    </div>
  </div>
