<div class="container">
  <% if can? :manage, Project, company_id: current_user.company_id %>
    <% estimated_time = Project.issues_estimated_time %>
    <% logged_time = Project.issues_logged_time %>
    <% binding.pry %>

    <% total_logged_time = Project.issues_logged_time %>
    <% estimated_time = Project.issues_estimated_time %>
    <% if total_logged_time.present? and estimated_time.present? %>
    <% value = Issue.time_progression(total_logged_time,estimated_time) %>
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: <%= value %>%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"><%= value %></div>
        <% if total_logged_time > estimated_time%>
          <div class="progress-bar bg-danger" role="progressbar" style="width: <%=100- value %>%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"><%= 100- value %></div>
        <% end %>
      </div>
    <% end %>
    <%= line_chart [
    { name: t('shared.est_end_date'), data: Project.fetch_issues.group(:estimated_end_date).count }, 
    { name: t('shared.end_date'), data: Project.fetch_issues.group(:actual_end_date).count }] %>
  <% elsif %>
    <% @issues= Issue.joins(:assignee) %>
    <% @issues= @issues.paginate(page: params[:page]) %>
    <%= render 'issues/index', issues: @issues %>
  <% end %>
</div>

