</div>
<div class="container mt-3">
  <div class="row d-flex justify-content-end">
    <% if can? :create, project => ProjectsUser %>
      <div class="col-2">
        <%= link_to ' '+t('shared.create_new_resource', resource_label: t('users.label')), new_project_projects_user_path, remote: true, class: "btn btn-primary w-100 fa fa-plus" %>
      </div>
    <% end %>
  </div>
</div>
<div class="container mt-3">
  <% if projects_users.present? %>
    <table class="table table-hover border-primary text-center" id="projects-users-datatable" data-source="<%= project_projects_users_path(format: :json) %>">
      <thead class="bg-primary text-light">
        <tr>
          <th><%= t('shared.email') %></th>
          <th><%= t('shared.role') %></th>
          <th><%= t('shared.actions') %></th>
        </tr>
      </thead>
      <tbody id="projects_user_table_body">
        <% projects_users.each do |projects_user| %>
          <%= render 'user_datatable_row', project: project, projects_user: projects_user %>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <div class="container text-center">
      <%= render partial: 'shared/no_resource_present', locals: { record: 'users.label' } %>
    </div>
  <% end %>
  <%= will_paginate projects_users %>
</div>