<h1>Issue information</h1>

<p>
  <%= @greeting %>, <%= link_to "Issue##{@issue.sequence_num.to_s}", issue_url(@issue, subdomain: @subdomain), class: "btn btn-primary w-100 fa fa-plus"  %> was changed <I style="color:blue">by <%= @current_user.name %> </I>

  <div class="container">
    <% audit = @issue.audits.includes(:user).last %>
    <%= distance_of_time_in_words(audit.created_at, Time.zone.now) %> ago
    <hr class="mt-1"/>
    <ul>
      <% audit[:audited_changes].each do |attribute, value| %>
        <li> 
          <b><%= attribute.titleize %></b>
          <!-- Previous value at index 0 and updated at index 1 -->
          updated from <I><%= value[0] %></I> to <I><%= value[1] %></I>

        </li>
      <% end %>
    </ul>
  </div>

</p>
