<tr id="time_log_<%= time_log.sequence_num %>">  
  <td><%= time_log.assignee.name %></td> 
  <td><%= time_log.logged_time %></td> 
  <td><%= time_log.date%></td> 
  <td><%= time_log.work_description%></td> 
  <td><%= time_log.issue.title%></td> 
  <td>
    <%= link_to ' ', [:edit, time_log.issue, time_log], remote: true, class:"bi bi-pencil-fill" %>
      <%= link_to "", [time_log.issue, time_log], remote: true ,method: :delete,
                data: { confirm: t('shared.confirmation') }, class: "bi bi-trash" %>
  </td>
</tr> 