<div class="container">
  <br/><br/>
  <% issue.get_audits.decorate.drop(1).each do |audit| %>
    <%= link_to audit.user&.name, user_path(audit.user&.sequence_num) %> 
    <%= distance_of_time_in_words(audit.created_at, Time.zone.now) %> ago
    <hr class="mt-1"/>
    <ul>
      <% audit[:audited_changes].each do |attribute, value| %>
        <li> 
          <b><%= attribute.titleize %></b>
          updated from <I><%= audit.previous_value(attribute, value[0]) %></I> to <I><%= audit.new_value(attribute, value[1]) %></I>
        </li>
      <% end %>
    </ul>
  <% end %>
  <div class="d-flex justify-content-left lead"><%= t('issues.no_histoires') if issue.audits.size == 1  %></div>
</div>