<br/><br/>
<div class="container">
  <% issue.audits.includes(:user).drop(1).each do |audit| %>
    <!-- TO DO !!! Replace user email by user name when user is uptodate -->
    <%= link_to audit&.user&.email %> 
    <%= distance_of_time_in_words(audit.created_at, Time.now) %> ago
    <hr class="mt-1"/>
    <ul>
      <% audit.audited_changes.each do |attribute, value| %>
        <li> 
          <b><%= attribute.titleize %></b>
          <% if value.class == Array %> 
            updated from <I><%= value[0] %></I> to <I><%= value[1] %></I>
          <% end %>
        </li>
      <%end%>
    </ul>
  <% end %>
</div>
