<tr id="issue_<%= issue.sequence_num %>">
  <div id="issues_datatable_space"></div>
  <td><%= link_to issue.title, issue_path(issue) %></td>
  <td><%= issue.status %></td>
  <td><%= issue.priority %></td>
  <td><%= issue.category %></td>
  <td>
    <% if can? :update, issue %>
      <%= link_to '', edit_issue_path(issue) ,{:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#modal-window', class: 'bi bi-pencil'} %>
    <% end %>
    <% if can? :destroy, issue %>
      <%= link_to '', issue_path(issue),remote: true ,method: :delete, data: {confirm: t('shared.confirmation') }, class: "bi bi-trash" %>
    <% end %>
  </td>
</tr>
