<%= render partial: 'shared/breadcrumb' %>
<div class="container mt-3">
  <div class="row d-flex">
    <div class="col-10 justify-content-start">
      <h1><%= t('users.member_label').pluralize %></h1>
    </div>
    <% if can? :create, User %>
      <div class="col-2 justify-content-end">
        <a role='button' class="btn btn-primary w-100 bi bi-plus" href="/users/new"> Add New User</a>
      </div>
    <%end%>
  </div>
  <br/>
  <div class="card mt-4 dashboard-card-border">
    <div class="card-body">
      <table class="table table-hover text-center" id="users-datatable" data-source="<%= users_path(format: :json) %>">
        <thead class="bg-primary text-light">
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%=link_to user.name, user %></td>
              <td><%= user.email %></td>
              <td><%= user.role_name %></td>
              <td>
                <% if can? :edit, user %>
                  <%= link_to "", edit_user_path(user), class: "bi bi-pencil-fill"  %>
                <% end %>
                <% if can? :destroy, user %>
                  <%= link_to "", user_path(user) ,method: :delete,
                    data: { confirm: t('shared.confirmation') }, class: "bi bi-trash" %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @users %>
    </div>
  </div>
</div>