<div class="container mt-3">
  <% flash.each do |type, msg| %>
    <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissible fade show row" role="alert">
      <div class="d-flex justify-content-between align-items-center">
        <% if msg.is_a? String %>
          <p><%= msg %></p>
        <% else %>
          <ul class="m-0 p-0">
            <% msg.each do |message| %>
              <% if message.class == Hash %>
                <% message.each do |key, value| %>
                  <b><%= key %></b>
                  <% value.each do |error| %>
                    <li class="ms-5"><%= error %></li>
                  <% end %>
                <% end %>
              <% else %>
                <li><%= message %></li>
              <% end %>
            <% end %>
          </ul>
        <% end %>
        <div>
          <span role="button", data-bs-dismiss="alert" aria-label="Close">X</span>
        </div>
      </div>
    </div>
  <% end %>
</div>