<div class="container pt-3">
  <div class="row mb-3">
    <div class="col-3 ">
      <p><strong><%= t('shared.creator') %>:</strong></p>
    </div>
    <div class="col-3">
      <p><%= sprint.creator.email %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-3 ">
      <p><strong><%= start_date_label(sprint.start_date) %>:</strong></p>
    </div>
    <div class="col-3">
      <p><%= sprint.start_date&.to_formatted_s(:long) %></p>
    </div>
    <div class="col-3 ">
      <p><strong><%= end_date_label(sprint.end_date) %>:</strong></p>
    </div>
    <div class="col-3">
      <p><%= sprint.end_date&.to_formatted_s(:long) %></p>
    </div>
  </div>
  <div class="row">
    <div class="col-3 ">
      <p><strong><%= t('shared.est_start_date') %>:</strong></p>
    </div>
    <div class="col-3">
      <p><%= sprint.estimated_start_date&.to_formatted_s(:long) %></p>
    </div>
    <div class="col-3 ">
      <p><strong><%= t('shared.est_end_date') %>:</strong></p>
    </div>
    <div class="col-3">
      <p><%= sprint.estimated_end_date&.to_formatted_s(:long) %></p>
    </div>
    <div class="row">
      <div class="col-3 ">
        <p><strong><%= t('shared.desc') %>:</strong></p>
      </div>
      <div class="col-9">
        <p><%= sprint.description %></p>
      </div>
    </div>
  </div>
</div>