<% sprint_path_value = local_assigns[:project] ? [project, sprint] : sprint %>
<% form_action = params[:action] == "start_sprint" ? start_sprint_sprint_path : sprint_path_value %>
<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header"></div>
    <div class="modal-flash-messages"></div>
    <%= form_with model: sprint_path_value, url: form_action, local: false do |form| %>
      <div class="modal-body">
        <div class="row mb-3">
          <div class="col-4">
            <%= form.label t('shared.name') %>
          </div>
          <div class="col-8">
            <%= form.text_field :name, class: 'form-control form-control-md' %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <%= form.label t('shared.desc') %>
          </div>
          <div class="col-8">
            <%= form.text_area :description, class: 'form-control form-control-md' %>
          </div>
        </div>
        <% if local_assigns[:project].nil? and params[:action] == "new" %>
          <div class="row mb-3">
            <div class="col-4">
              <%= form.label t('projects.project_label'), class: 'col-form-label col-form-label-md control-label' %>
            </div>
            <div class="col-8">
              <%= form.select :project_id, @projects.map{ |project| [project.name, project.id] }, { required: true }, { class: "form-select form-select-md js-select-field-single" } %>
            </div>
          </div>
        <% end %>
        <div class="row mb-3">
          <div class="col-4">
            <%= form.label t('shared.start_date') %>
          </div>
          <div class="col-8">
            <%= form.datetime_field :start_date, class: 'form-control form-control-md js-flatpickr-datetime' %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <%= form.label t('shared.end_date'), class: 'col-form-label col-form-label-md control-label' %>
          </div>
          <div class="col-8">
            <%= form.datetime_field :end_date, class: 'form-control form-control-md js-flatpickr-datetime' %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <%= form.label t('shared.est_start_date'), class: 'col-form-label col-form-label-md control-label' %>
          </div>
          <div class="col-8">
            <%= form.datetime_field :estimated_start_date, class: 'form-control form-control-md js-flatpickr-datetime' %>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-4">
            <%= form.label t('shared.est_end_date'), class: 'col-form-label col-form-label-md control-label' %>
          </div>
          <div class="col-8">
            <%= form.datetime_field :estimated_end_date, class: 'form-control form-control-md js-flatpickr-datetime' %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <%= form.submit (t('sprints.start') if params[:action] == "start_sprint"), class: 'btn btn-primary bi bi-check', remote: true %>
        <button type="button" class="btn btn-secondary" id="formCloseBtn" data-bs-dismiss="modal"><%= t('shared.cancel') %></button>
      </div>
    <% end %>
  </div>
</div>