<div class="container mt-3">
  <% if @sprints.empty? %>
    <div class="container text-center">
      <%= render partial: 'shared/no_resource_present', locals: { record: 'sprints.label' } %>
    </div>
  <% else %>
    <table class="table table-hover border-primary text-center" id="sprints-datatable" data-source="<%= project_sprints_path(format: :json) %>">
      <thead class="bg-primary text-light">
        <tr>
          <th><%= t('shared.creator') %></th>
          <th><%= t('shared.start_date') %></th>
          <th><%= t('shared.end_date') %></th>
          <th><%= t('shared.est_start_date') %></th>
          <th><%= t('shared.est_end_date') %></th>
          <th><%= t('shared.actions') %></th>
        </tr>
      </thead>
      <tbody id="sprintDataTableBody">
        <% @sprints.each do |sprint| %>
          <%= render 'sprint_datatable_row', sprint: sprint %>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= will_paginate @sprints %>
</div>
<% if can? :create, Sprint %>
  <div class="container mt-3">
    <div class="row d-flex justify-content-end">
      <div class="col-2">
        <%= link_to t('shared.create_new_resource', resource_label: t('sprints.label')), new_project_sprint_path, remote: true, class:"btn btn-primary w-100 fa fa-plus", id:"add_sprint" %>
      </div>
    </div>
  </div>
<% end %>