<div class="container">
  <div class="card">
    <h5 class="card-header"><%= t('issues.completed') %></h5>
    <div class="card-body">
      <table class="table text-center my-3" %>
        <thead class="bg-primary text-light fw-bold">
          <tr>
            <th><%= t('issues.title') %></th>
            <th><%= t('issues.status') %></th>
            <th><%= t('issues.priority') %></th>
            <th><%= t('issues.category') %></th>
          </tr>
        </thead>
        <tbody>
          <% issues_resolved.each do |resolved_issue|%>
            <tr>
              <td><%= resolved_issue.issue.title %></td>
              <td><%= resolved_issue.issue.status %></td>
              <td><%= resolved_issue.issue.priority %></td>
              <td><%= resolved_issue.issue.category %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <hr />
  <div class="card">
    <h5 class="card-header"><%= t('issues.not_completed') %></h5>
    <div class="card-body">
      <table class="table text-center my-3" %>
        <thead class="bg-primary text-light fw-bold">
          <tr>
            <th><%= t('issues.title') %></th>
            <th><%= t('issues.status') %></th>
            <th><%= t('issues.priority') %></th>
            <th><%= t('issues.category') %></th>
            <th><%= t('issues.moved') %></th>
          </tr>
        </thead>
        <tbody>
          <% issues_unresolved.each do |unresolved_issue|%>
            <tr>
              <td><%= unresolved_issue.issue.title %></td>
              <td><%= unresolved_issue.issue.status %></td>
              <td><%= unresolved_issue.issue.priority %></td>
              <td><%= unresolved_issue.issue.category %></td>
              <td><%= unresolved_issue.moved_to.nil? ? t('projects.backlog') : unresolved_issue.moved_to.name %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <hr />
  <div class="card">
    <h5 class="card-header"><%= t('sprints.burndown_chart') %></h5>
    <div class="card-body">
      <%#= line_chart [
    { name: t('shared.est_end_date'), data: issues_resolved.group(:estimated_end_date).count },
    { name: t('shared.end_date'), data: issues_resolved.group(:actual_end_date).count }] %>
    </div>
  </div>
</div>