<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <h5><%= t('shared.select_resource', resource_label: t('sprints.label')) %></h5>
    </div>
    <div class="modal-flash-messages"></div>
    <%= form_with url: add_issues_to_sprint_issues_path, local: false do |form| %>
      <div class="modal-body">
        <div class="col-12">
          <%= form.select :sprint_id, sprint_options_to_add_issues(sprints), {required: true}, { class: "form-select form-select-md js-select-field-single" } %>
          <%= form.hidden_field :issue_ids, class: "issue_ids" %>
        </div>
      </div>
      <div class="modal-footer">
        <%= form.submit t('sprints.add_issues'), data: { remote: true }, class: 'btn btn-primary add-issues-to-sprint' %>
        <button type="button" class="btn btn-secondary" id="formCloseBtn" data-bs-dismiss="modal"><%= t('shared.close') %></button>
      </div>
    <% end %>
  </div>
</div>