<div class="modal-body">
  <div class="container">
    <div class="row">
      <div class="col-3 ">
        <p><strong><%= t('shared.creator') %>:</strong></p>
      </div>
      <div class="col-3">
        <p><%= sprint.creator.email %></p>
      </div>
    </div>
  </div>
  <div class="container pt-3">
    <div class="row bm-3">
      <div class="col-3 ">
        <p><strong><%= sprint_start_date_label %>:</strong></p>
      </div>
      <div class="col-3">
        <p><%= sprint.start_date %></p>
      </div>
      <div class="col-3 ">
        <p><strong><%= sprint_end_date_label %>:</strong></p>
      </div>
      <div class="col-3">
        <p><%= sprint.end_date %></p>
      </div>
    </div>
    <div class="row bm-3">
      <div class="col-3 ">
        <p><strong><%= t('shared.est_start_date') %>:</strong></p>
      </div>
      <div class="col-3">
        <p><%= sprint.est_start_date %></p>
      </div>
      <div class="col-3 ">
        <p><strong><%= t('shared.est_end_date') %>:</strong></p>
      </div>
      <div class="col-3">
        <p><%= sprint.est_end_date %></p>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" id="formCloseBtn" data-bs-dismiss="modal"><%= t('shared.close') %></button>
</div>