<table class="table table-hover border-primary text-center" id="sprints_datatable">
  <thead class="bg-primary text-light">
    <tr>
      <th><%= t('shared.name') %></th>
      <th><%= t('shared.creator') %></th>
      <th><%= t('shared.start_date') %></th>
      <th><%= t('shared.end_date') %></th>
      <th><%= t('shared.est_start_date') %></th>
      <th><%= t('shared.est_end_date') %></th>
      <th><%= t('shared.actions') %></th>
    </tr>
  </thead>
  <tbody id="sprints_datatable_body">
    <% sprints.each do |sprint| %>
      <% if params[:project_id].nil? %>
        <%= render 'sprint_datatable_row', sprint: sprint %>
      <% else %>
        <%= render 'sprint_datatable_row', sprint: sprint, project: project %>
      <% end %>
    <% end %>
  </tbody>
</table>