<div class="container mt-3">
  <div class="row d-flex">
    <div class="col-10 justify-content-start">
      <h1><%= t('sprints.label').pluralize().upcase() %></h1>
    </div>
    <% if can? :create, Sprint %>
      <div class="col-2 justify-content-end">
        <%= link_to t('shared.create_new_resource', resource_label: t('sprints.label')), new_project_sprint_path, remote: true, class:"btn btn-primary w-100 fa fa-plus", id:"add_sprint" %>
      </div>
    <% end %>
  </div>
</div>
<div class="container mt-3">
  <% if @sprints.empty? %>
    <div class="container text-center">
      <%= render partial: 'shared/no_resource_present', locals: { record: 'sprints.label' } %>
    </div>
  <% else %>
    <table class="table table-hover border-primary text-center" id="sprints-datatable" data-source="<%= project_sprints_path(format: :json) %>">
      <thead class="bg-primary text-light">
        <tr>
          <th><%= t('shared.start_date') %></th>
          <th><%= t('shared.end_date') %></th>
          <th><%= t('shared.est_start_date') %></th>
          <th><%= t('shared.est_end_date') %></th>
          <th><%= t('shared.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% @sprints.each do |sprint| %>
          <tr>
            <td><%= sprint.start_date %></td>
            <td><%= sprint.end_date %></td>
            <td><%= sprint.est_start_date %></td>
            <td><%= sprint.est_end_date %></td>
            <td>
              <%= link_to '', [:edit, @project, sprint], class: 'fa fa-pencil' %>
              <%= link_to ' ', [@project, sprint],
                method: :delete,
                data: { confirm: t('shared.confirmation') }, class: "fa fa-trash" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= will_paginate @sprints %>
</div>