<%= render partial: 'shared/breadcrumb' %>
<div class="container mt-3">
  <div class="row mb-3 d-flex justify-content-between">
    <div class="col-8">
      <h1><%= @sprint.name %></h1>
    </div>
    <% if can? :edit, @sprint %>
      <div class="col-2">
        <%= link_to t('shared.edit'), edit_sprint_path(@sprint), remote: true, class: "btn btn-primary w-100 bi bi-pencil" %>
      </div>
    <% end %>
    <% if can? :destroy, @sprint %>
      <div class="col-2">
        <%= link_to t('shared.delete'), sprint_path(@sprint),
                method: :delete,
                data: { confirm: t('shared.confirmation') }, class: "btn btn-danger w-100 bi bi-trash" %>
      </div>
    <% end %>
  </div>
</div>
<div class="container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <%= link_to t('shared.details').pluralize(), @sprint, class: 'nav-link active', id: "nav-sprints-tab", data: {bs_toggle: "tab", bs_target: "#nav-sprints"}, type: "button", role: 'tab', aria_controls: "nav-sprints", aria_selected: false %>
      <%= link_to t('sprints.report'), report_sprint_url, class: 'nav-link', id: "nav-report-tab", data: {bs_toggle: "tab", bs_target: "#nav-report", remote: true}, type: "button", role: 'tab', aria_controls: "nav-report", aria_selected: false %>
      <%= link_to t('issues.issues_label').pluralize(), sprint_issues_url(@sprint), remote: true, class: 'nav-link', id: "nav-issues-tab", data: {bs_toggle: "tab", bs_target: "#nav-issues"}, type: "button", role: 'tab', aria_controls: "nav-issues", aria_selected: false %>
    </div>
  </nav>
  <div class="tab-content" id="tab-tabContent">
    <div class="tab-pane fade show active" id="nav-sprints" role="tabpanel" aria-labelledby="nav-sprints-tab">
      <%= render 'details', sprint: @sprint %>
    </div>
    <div class="tab-pane fade" id="nav-report" role="tabpanel" aria-labelledby="nav-report-tab"></div>
    <div class="tab-pane fade" id="nav-issues" role="tabpanel" aria-labelledby="nav-issues-tab">
      <div class="container">
        <div id="header" ></div>
        <% if (Issue::FILTER.keys & params.keys).empty? %>
          <div id="filter"></div>
        <% end %>
        <div id="issues-table"></div>
      </div>
    </div>
  </div>
</div>