<div class="container">
  <div class="mt-3 d-flex justify-content-between">
    <h3>
      <%= sprint.name %>
    </h3>
    <%= link_to(t('sprints.complete'), complete_sprint_info_sprint_path(sprint), data: { remote: true, method: :get }, class: "btn btn-outline-primary") %>
  </div>
  <div class="row my-3">
    <div class="col card card-bg shadow-lg mx-1">
      <div class="card-body">
        <h6 class="card-title"><%= t('shared.to_do').capitalize %><small class="px-1"><%= issues_to_do.size %></small></h6>
        <% issues_to_do.each do |issue| %>
          <div class="card shadow-lg my-3">
            <div class="card-body">
              <div class="card-title">
                <%= link_to issue.title, issue %>
              </div>
              <div class="card-subtitle badge bg-<%= IssuesHelper::PRIORITY_COLOR[issue.priority.to_sym] %> mb-2 ">
                <%= issue.priority %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col card card-bg shadow-lg mx-1">
      <div class="card-body">
        <h6 class="card-title"><%= t('shared.in_progress').capitalize %><small class="px-1"><%= issues_in_progress.size %></small></h6>
        <% issues_in_progress.each do |issue| %>
          <div class="card shadow-lg my-3">
            <div class="card-body">
              <div class="card-title">
                <%= link_to issue.title, issue %>
              </div>
              <div class="card-subtitle badge bg-<%= IssuesHelper::PRIORITY_COLOR[issue.priority.to_sym] %> mb-2 ">
                <%= issue.priority %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col card card-bg shadow-lg mx-1">
      <div class="card-body">
        <h6 class="card-title"><%= t('shared.resolved').capitalize %><small class="px-1"><%= issues_resolved.size %></small></h6>
        <% issues_resolved.each do |issue| %>
          <div class="card shadow-lg my-3">
            <div class="card-body">
              <div class="card-title">
                <%= link_to issue.title, issue %>
              </div>
              <div class="card-subtitle badge bg-<%= IssuesHelper::PRIORITY_COLOR[issue.priority.to_sym] %> mb-2 ">
                <%= issue.priority %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col card card-bg shadow-lg mx-1">
      <div class="card-body">
        <h6 class="card-title"><%= t('shared.closed').capitalize %><small class="px-1"><%= issues_closed.size %></small></h6>
        <% issues_closed.each do |issue| %>
          <div class="card shadow-lg my-3">
            <div class="card-body">
              <div class="card-title">
                <%= link_to issue.title, issue %>
              </div>
              <div class="card-subtitle badge bg-<%= IssuesHelper::PRIORITY_COLOR[issue.priority.to_sym] %> mb-2 ">
                <%= issue.priority %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>