<div class="container">
  <div class="mt-3 d-flex justify-content-between">
    <h3>
      <%= sprint.name %>
    </h3>
    <%= link_to(t('sprints.complete'), complete_sprint_info_sprint_path(sprint), data: { remote: true, method: :get }, class: "btn btn-outline-primary") %>
  </div>
  <div class="row my-3">
    <div class="col card dashboard-card-border shadow-lg mx-1">
      <h6 class="card-header d-flex justify-content-between">
        <span><%= t('shared.to_do').capitalize %></span>
        <span class="badge rounded-pill bg-primary"><%= issues_to_do.size %></span>
      </h6>
      <div class="card-body">
        <% issues_to_do.each do |issue| %>
          <div class="card shadow-lg my-3">
            <div class="card-body">
              <div class="card-title">
                <%= link_to issue.title, issue %>
              </div>
              <div class="card-subtitle badge bg-<%= issues_priority_pill_selection(issue.priority) %> mb-2 ">
                <%= issue.priority %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col card dashboard-card-border shadow-lg mx-1">
      <h6 class="card-header d-flex justify-content-between">
        <span><%= t('shared.in_progress').capitalize %></span>
        <span class="badge rounded-pill bg-primary"><%= issues_in_progress.size %></span>
      </h6>
      <div class="card-body">
        <% issues_in_progress.each do |issue| %>
          <div class="card shadow-lg my-3">
            <div class="card-body">
              <div class="card-title">
                <%= link_to issue.title, issue %>
              </div>
              <div class="card-subtitle badge bg-<%= issues_priority_pill_selection(issue.priority) %> mb-2 ">
                <%= issue.priority %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col card dashboard-card-border shadow-lg mx-1">
      <h6 class="card-header d-flex justify-content-between">
        <span><%= t('shared.resolved').capitalize %></span>
        <span class="badge rounded-pill bg-primary"><%= issues_resolved.size %></span>
      </h6>
      <div class="card-body">
        <% issues_resolved.each do |issue| %>
          <div class="card shadow-lg my-3">
            <div class="card-body">
              <div class="card-title">
                <%= link_to issue.title, issue %>
              </div>
              <div class="card-subtitle badge bg-<%= issues_priority_pill_selection(issue.priority) %> mb-2 ">
                <%= issue.priority %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col card dashboard-card-border shadow-lg mx-1">
      <h6 class="card-header d-flex justify-content-between">
        <span><%= t('shared.closed').capitalize %></span>
        <span class="badge rounded-pill bg-primary"><%= issues_closed.size %></span>
      </h6>
      <div class="card-body">
        <% issues_closed.each do |issue| %>
          <div class="card shadow-lg my-3">
            <div class="card-body">
              <div class="card-title">
                <%= link_to issue.title, issue %>
              </div>
              <div class="card-subtitle badge bg-<%= issues_priority_pill_selection(issue.priority) %> mb-2 ">
                <%= issue.priority %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>