<div class="container mt-3">
  <div class="row d-flex">
    <div class="col-10 justify-content-start">
      <h1><%= t('projects.project_label').pluralize().upcase() %></h1>
    </div>
    <% if can? :create, Project %>
      <div class="col-2 justify-content-end">
        <a role='button' class="btn btn-primary w-100 bi bi-plus" href= "<%= new_project_path %>"> <%= t('shared.create_new_resource', resource_label: t('projects.project_label')) %></a>
      </div>
    <% end %>
  </div>
</div>
<div class="container mt-3">
  <% if @projects.empty? %>
    <div class="container text-center">
      <%= render partial: 'shared/no_resource_present', locals: { record: 'projects.project_label' } %>
    </div>
  <% else %>
    <table class="table table-hover border-primary text-center" id="projects-datatable" data-source="<%= projects_path(format: :json) %>">
      <thead class="bg-primary text-light">
        <tr>
          <th><%= t('shared.name') %></th>
          <th><%= t('shared.start_date') %></th>
          <th><%= t('shared.end_date') %></th>
          <th><%= t('shared.manager') %></th>
        </tr>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= link_to project.name, project %></td>
            <td><%= project.start_date&.to_formatted_s(:long) %></td>
            <td><%= project.end_date&.to_formatted_s(:long) %></td>
            <td><%= project.manager.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  <%= will_paginate @projects %>
</div>