<div class="container mt-3">
  <div class="row d-flex">
    <div class="col-10 justify-content-start">
      <h1><%=t('projects.project_header')%></h1>
    </div>
    <% if can? :create, @project %>
      <div class="col-2 justify-content-end">
        <a role='button' class="btn btn-primary w-100 fa fa-plus" href="/projects/new"> <%=t('shared.create_new_resource', resource_label: t('projects.project_label'))%></a>
      </div>
    <%end%>
  </div>
</div>
<br/>
<div class="container mt-3">
  <table class="table table-hover border-primary text-center" id="projects-datatable" data-source="<%= projects_path(format: :json) %>">
    <thead class="bg-primary text-light">
      <tr>
        <th><%=label(:project, :name)%></th>
        <th><%=label(:project, :start_date)%></th>
        <th><%=label(:project, :end_date)%></th>
        <th><%=label(:project, :manager_id)%></th>
      </tr>
    </thead>
    <tbody>
      <% @projects.each do |project| %>
        <tr>
          <td><%=link_to project.name, project%></td>
          <td><%=project.start_date%></td>
          <td><%=project.end_date%></td>
          <td><%=project.manager.email%></td>
        </tr>
      <%end%>
    </tbody>
  </table>
  <%= will_paginate @projects %>
</div>