<div class="container mt-3">
  <div class="row bm-3 d-flex justify-content-between">
    <div class="col-8">
      <h1><%= @project.name %></h1>
    </div>
    <% if can? :edit, @project %>
    <div class="col-2">
      <%= link_to t('shared.edit'), edit_project_path(@project), class: "btn btn-primary w-100 bi bi-pencil" %>
    </div>
    <% end %>
    <% if can? :destroy, @project %>
    <div class="col-2">
      <%= link_to t('shared.delete'), project_path(@project),
      method: :delete,
      data: { confirm: t('shared.confirmation') }, class: "btn btn-danger w-100 bi bi-trash" %>
    </div>
    <% end %>
  </div>
</div>
<div class="container">
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <%= link_to t('shared.details'), @project, class: 'nav-link active', id: "nav-projects-tab", data: {bs_toggle: "tab", bs_target: "#nav-projects"},  type: "button", role: 'tab', aria_controls: "nav-projects", aria_selected: true %>
      <%= link_to t('sprints.label').pluralize(), [@project, :sprints], remote: true, class: 'nav-link', id: "nav-sprints-tab", data: {bs_toggle: "tab", bs_target: "#nav-sprints"}, type: "button", role: 'tab', aria_controls: "nav-sprints", aria_selected: false %>
      <%= link_to t('issues.issue_label').pluralize(), project_issues_path(@project), remote: true, class: 'nav-link', id: "nav-issues-tab", data: {bs_toggle: "tab", bs_target: "#nav-issues"}, type: "button", role: 'tab', aria_controls: "nav-issues", aria_selected: false %>
      <%= link_to t('users.label').pluralize(), [@project, :projects_users], remote: true, class: 'nav-link', id: "nav-users-tab", data: {bs_toggle: "tab", bs_target: "#nav-users"}, type: "button", role: 'tab', aria_controls: "nav-users", aria_selected: false %>
    </div>
  </nav>
  <div class="tab-content" id="tab-tabContent">
    <div class="tab-pane fade show active" id="nav-projects" role="tabpanel" aria-labelledby="nav-projects-tab">
      <%= render 'details', project: @project %>
    </div>
    <div class="tab-pane fade" id="nav-issues" role="tabpanel" aria-labelledby="nav-issues-tab">
      <div class="container">
        <div id="header" ></div>
        <% if (Issue::FILTER.keys & params.keys).empty? %>
          <div id="filter"></div>
        <% end %>
          <div id="issues-table"></div>
      </div>
    </div>
    <div class="tab-pane fade" id="nav-sprints" role="tabpanel" aria-labelledby="nav-sprints-tab"></div>
    <div class="tab-pane fade" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab"></div>
  </div>
</div>