<tr id="issue_report_<%= issue_report.sequence_num %>">
  <div id="issue_reports_datatable_space"></div>
    <td><span class="badge rounded-pill bg-<%= IssuesHelper::STATUS_COLOR[issue_report.status.to_sym] %>"><%= issue_report.status %></span>
  </td>
  <td><%= link_to issue_report.title, issue_path(issue_report) %></td>
  <td><%= assignee_link(issue_report) %></td>
  <td>
    <span class="badge rounded-pill bg-<%= IssuesHelper::PRIORITY_COLOR[issue_report.priority.to_sym] %>"><%= issue_report.priority %></span>
  </td>
  <td>
    <span class="badge rounded-pill bg-<%= IssuesHelper::CATEGORY_COLOR[issue_report.category.to_sym] %>"><%= issue_report.category %></span>
  </td>
  <td><%= issue_report.estimated_time %></td>
  <td><%= issue_report.total_time_spent %></td>
</tr>
