<tr id="issue_report_<%= issue_report.sequence_num %>">
  <div id="issue_reports_datatable_space"></div>
    <td><span class="badge rounded-pill bg-<%= get_status_color(issue_report.status) %>"><%= issue_report.status.camelize %></span>
  </td>
  <td><%= link_to issue_report.title, issue_path(issue_report) %></td>
  <td><%= assignee_link(issue_report) %></td>
  <td>
    <span class="badge rounded-pill bg-<%= get_priority_color(issue_report.priority) %>"><%= issue_report.priority.camelize %></span>
  </td>
  <td>
    <span class="badge rounded-pill bg-<%= get_category_color(issue_report.category) %>"><%= issue_report.category.camelize %></span>
  </td>
  <td><%= issue_report.estimated_time %></td>
  <td><%= issue_report.total_time_spent %></td>
</tr>
