<div class="container">
  <table class="table table-hover border-primary text-center" id="sprint_report_table">
    <thead class="text-light bg-primary">
      <tr>
        <th><%= t('shared.name') %></th>
        <th><%= t('Assigned Issues') %></th>
        <th><%= t('Resolved Issues') %></th>
        <th><%= t('reports.total_estimated_time') %></th>
        <th><%= t('reports.time_spent') %></th>
      </tr>
    </thead>
    <tbody id="reports_datatable_body">
      <% if sprint_report_data.present? %>
        <% sprint_report_data.each do |sprint_report| %>
          <%= render partial: "sprint_report_datatable_row", locals: { sprint_report: sprint_report} %>
          <tr>
            <td colspan="5">
              <% total_estimated_time = sprint_report.sum_of_estimated_time %>
              <% total_time_spent = sprint_report.total_time_logged %>
              <% time_progression_ratio = sprint_report.time_progression %>
              <% if total_estimated_time.present? and total_time_spent.present? %>
                <%= render partial: "time_logs/progress", locals: { instance: sprint_report, time_progression_ratio: time_progression_ratio, total_logged_time: total_time_spent, width: "w-100", estimated_time: total_estimated_time} %>
              <% end %>
            </td>
          </tr>
          <% end %>
        <%= js_paginate sprint_report_data %>
      <% else %>
        <div class="container text-center">
          <tr id="no-resource"><td colspan="5"><%= render partial: 'shared/no_resource_present', locals: { record: t('reports.sprint_report') } %></td></tr>
        </div>
      <% end %>
    </tbody>
  </table>
</div>