<tr>
  <td><%= assignee_link(sprint_report) %></td>
  <td><%= sprint_report.total_issues %></td>
  <td><%= sprint_report.resolved_issues %></td>
  <td><%= sprint_report.total_estimated_time %></td>
  <td><%= sprint_report.total_time_spent %></td>
</tr>
