<!DOCTYPE html>
<html>
  <head>
    <title>SprintTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <% if user_signed_in? %>
      <%= render partial: 'layouts/signed_in_sidebar' %>
    <% else%>
      <%= render partial: 'layouts/signed_out_navbar' %>
      <div class="home_content_below_navbar">
      <%= render partial: 'shared/flash_messages' %>
      </div>
    <%= yield %>
    <% end %>
      <div class="modal fade" id="modal" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
      </div>
  </body>
</html>