<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>SprintTracker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="row">
      <div class="col-1">
        <div class="container navbar-brand bg-dark text-light text-end">
          <%= @current_company&.name %>
        </div>
        <div class="navbar navbar-dark flex-column bg-dark">
          <%= link_to ' Dashboard', root_path, class: "navbar-brand btn fa fa-home" %>
          <%= link_to ' Projects', projects_path, class: "navbar-brand btn fa fa-list-alt" %>
          <%= link_to ' '+t('users.log_out'), destroy_user_session_path, method: :delete, class: "navbar-brand btn" %>
        </div>
      </div>
      <div class="col-11">
        <!-- Flash Messages -->
        <div class="container" id="flashMessages">
          <%= render partial: 'shared/flash_messages', flash: flash %>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="modalTitle"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="js-modal">
              </div>
            </div>
          </div>
        </div>
        <!-- Body Content -->
        <%= yield %>
      </div>
    </div>
  </body>
</html>